<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Welcome, {{ name }}!</h1>
            <a href="/logout">Log Out</a>
        </div>
        <hr>
        <div id="main">
            <div class="box">

                <h2>Add a Favorite Book</h2>
                <form action="/addbook" method="POST">
                    {% csrf_token %}
                    <div class="spaces">Title: <input type="text" name="title"></div><br><br>
                    {% for message in messages %}
                        {% if message.tags == 'title error' %}
                        <span style="color: red">{{ message }}</span>
                        {% endif %}
                    {% endfor %}<br><br>
                    <div class="spaces">Description: <textarea id="comment" name="desc" rows="5" cols="22"></textarea></div><br>
                    {% for message in messages %}
                        {% if message.tags == 'desc error' %}
                            <span style="color: red">{{ message }}</span>
                        {% endif %}
                    {% endfor %}<br><br>
                    <input type="submit" id="done" value="Add">
                </form>
            </div>

            <div class="box">
                <h2>All Books</h2><br>
                {% for book in allbook %}
                    <a href="/books/{{book.id}}">{{ book.title }}</a><br>
                    (Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})<br>
                    {{ book.desc }}<br>
                    
                    {% if book.likes.count > 0 %}
                        <p>Favorites: {{ book.likes.count }}</p>
                    {% endif %}
                    <a href="/fav/{{book.id}}/{{book.uploaded_by.id}}">Like</a>
                    <br><br>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
    
</body>
</html>